<!DOCTYPE html>
<html>
  <head>
    <title>Address book</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type='text/javascript' src="/contacts.js"></script>
  </head>

  <body>
    <header>
      <h1>Address book</h1>
    </header>
    <main>
      <form class='search_form'>
        <input id='search' type='text' placeholder='Search name'>
        <a id='search_button' href='#'>Search</a>
      </form>
      <a class='all' href='#'>Show all</a>

      <a class='add_contact' href='#'>Add contact</a>
      <form class='add_contact_form'>
        <input type='text' name='name' placeholder='Name'>
        <input type='text' name='surname' placeholder='Surname'>
        <input type='text' name='address' placeholder='Address'>
        <input type='email' name='email' placeholder='Email'>
        <input type='text' name='phone_number' placeholder='Phone number'>
        <button id='submit_button' value='Submit'>Submit</button>
      </form>

      <form class='edit_contact_form'>
        <input type='text' name='name' placeholder='Name'>
        <input type='text' name='surname' placeholder='Surname'>
        <input type='text' name='address' placeholder='Address'>
        <input type='email' name='email' placeholder='Email'>
        <input type='text' name='phone_number' placeholder='Phone number'>
        <button id='edit_button' value='Submit'>Edit</button>
      </form>

      <ul class='contacts'></ul>
    </main>

  </body>

</html>
