<!DOCTYPE html>
<html>
  <head>
    <title>Address book</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type='text/javascript' src="/application.js"></script>
  </head>

  <body>
    <header>
      <h1>Address book</h1>
    </header>
    <main>
      <form>
        <input id='search' type='text' placeholder='Search name'>
        <input id='search_button' type='Submit' value='Search'>
      </form>

      <ul class='contacts'>
      </ul>
    </main>

  </body>

</html>
